/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, 
h1, h2, h3, h4, h5, h6, 
p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    height: 100vh;
	line-height: 1.25;
    font-family: Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

h1 {
    font-family: norse-bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#side {
    background-image: url(./img/goofer-bg.jpg);
    background-size: cover;
    position: relative;
    flex: 2;
    color: white;
}

header {
    margin-top: 20vh;
    padding: 0.5rem;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-top: 14px;
}

#side img {
    height: 1.3em;
    width: auto;
}

#side div {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    justify-content: center;
}

a {
    color: inherit;
}

#signup {
    --signupBGColor: #141414;
    --signupTextColor: #d9d9d9;

    flex: 3;
    overflow: auto;
    background-color: var(--signupBGColor);
    color: var(--signupTextColor);
}

#signup > * {
    padding-right: 8vw;
    padding-left: 3rem;
    font-size: 1.25rem;
}

#signup p {
    padding-top: 10vh;
    padding-bottom: 8vh;
}

#signup form {
    --submitButtonPadding: 1rem;
    --formColor: #191919;

    background-color: var(--formColor);
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
    margin-bottom: calc(2vh + 3.5rem + 2 * var(--submitButtonPadding));
}

#signup form > div {
    margin-top: 2vh;
    gap: 2rem;
    row-gap: 1rem;
    padding-top: 1rem;
}

#signup div.flex.column {
    min-width: 22vw;
    flex: 1;
}

#signup label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.25rem;
}

#signup input {
    border: 2px solid #464646;
    color: var(--signupTextColor);
    background-color: var(--formColor);
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1.25rem;
}

#signup input:focus {
    box-shadow: 2px 2px 4px gray;
}

#signup input:user-invalid {
    border-color: red;
}

#signup button {
    border: 2px solid var(--signupTextColor);
    border-radius: 5px;
    background-color: var(--signupBGColor);
    color: var(--signupTextColor);
    padding: var(--submitButtonPadding) 2rem;
    position: absolute;
    bottom: calc(-3vh - 1.5rem - 2 * var(--submitButtonPadding));
    cursor: pointer;
    font-size: 1.1rem;
}

#signup button:hover {
    background-color: var(--signupTextColor);
    color: var(--signupBGColor);
}

#signup > div:last-child {
    padding-bottom: 1rem;
    font-size: 1rem;
}